<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js" integrity="sha256-98Q574VkbV+PkxXCKSgL6jVq9mrVbS7uCdA+vt0sLS8=" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Bookings<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fares</a>
        </li>
        <% if(!currentUser){ %>
        <li class="nav-item">
          <a href="/login"><button class="btn nav-button">Sign In</button></a>
        </li>
        <%  } else { %>
        <li class="nav-item">
          <a href="#" class="nav-link">Signed in as: <%=currentUser.username%></a>
        </li>
        <li class="nav-item">
        <a href='/logout'><button class="btn nav-button">Logout</button></a>
        </li>
        <%  } %>
      </ul>
    </div>
  </nav>

<% if(error && error.length > 0) { %> 
  <div style="z-index: 99;">
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
  </div>
<% } %>

<% if(success && success.length > 0) { %> 
  <div style="z-index: 99;">
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
  </div>
<% } %>

  <div id="sky">
    <img src="/images/sky.svg" alt="">
  </div>

  <div id="airplane" class="airplane">
    <img src="/images/plane.png" alt="plane" width="800" height="600">
  </div>

  <div id="buttons">
    <h1 style="font-size: 80px;">Travel Redefined</h1>
    <h1>Book a flight to your dream destination</h1>
    <br>
    <button class="btn">Book A Flight</button>
    <button class="btn">Check Flights</button>
  </div>

  <script type="text/javascript">
    anime({
      targets: '#airplane',
      translateX: 1450,
      duration: 2500,
      easing: 'easeInCubic'
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>

<a href="https://www.vecteezy.com/free-vector/cloudy-sky">Cloudy Sky Vectors by Vecteezy</a>
