<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('./partials/header.ejs') %>

<body>
  <div class="messages">
    <% if(error && error.length > 0){ %>
    <div class="alert" role="alert">
      <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
    <% } %>

    <div class="sky">
      <img src="/images/sky.svg" alt="">
    </div>

    <div class="airplane">
      <img src="/images/plane.png" alt="plane" width="800" height="600">
    </div>
  </div>

  <div class="heading">
    <h1 style="font-size: 80px;">Travel Redefined</h1>
    <h1>Book a flight to your dream destination</h1>
    <br>
    <a href="/search-flight"><button class="btn">Book A Flight</button></a>
    <button class="btn">Check Flights</button>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js" integrity="sha256-98Q574VkbV+PkxXCKSgL6jVq9mrVbS7uCdA+vt0sLS8=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    anime({
      targets: '.airplane',
      translateX: 1450,
      duration: 2500,
      easing: 'easeInCubic'
    });
  </script>
  <%- include('./partials/footer.ejs') %>
</body>


</html>